:root {
   /* Altura do header */
   --header-height: 7rem;

   /* Cores */
   /* A variável --hue deve estar entre 230 à 350 */
   --hue: 300;
   --standart-color: hsl(var(--hue), 79%, 96%);
   --color-text: hsl(var(--hue), 11%, 66%);
   --border-color: hsl(var(--hue), 300, 82%, 18%);
   --button-color: hsl(var(--hue), 31%, 93%);
   --button-hover: hsl(var(--hue), 94%, 21%);
   --bg-desktop-color: hsl(var(--hue), 69%, 12%);
   --bg-mobile-color: hsl(var(--hue), 25%, 9%);

   /* Fonte responsiva */
   font-size: 62.5%;
}

/* Cores custom */
#social-links .list-item a svg g,
#social-links .list-item a svg {
   fill: var(--button-color);
   transition: 0.3s fill;
}

#social-links .list-item:hover a svg g,
#social-links .list-item:hover a svg {
   fill: var(--color-text);
   transition: 0.3s fill color;
}

header .logo g {
   fill: #fff;
   transition: 0.3s fill;
}

header .logo:hover g {
   fill: var(--color-text);
   transition: 0.3s fill;
}

/* Estilos Gerais */
img {
   width: 100%;
   height: 100%;
}

html {
   box-sizing: border-box;
}

body {
   width: 100vw;
   height: 100vh;
   background-image: url(../images/bg-mobile.svg);
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background-color: var(--bg-mobile-color);
   align-items: center;
   font-family: Open sans, Arial;
}

header {
   display: flex;
   justify-content: left;
   height: var(--header-height);
}

.wrapper {
   width: min(30rem, 100%);
   margin-inline: auto;
   padding-inline: 3rem;
}

.logo {
   height: 100%;
}

.main-container {
   color: var(--standart-color);
   text-align: center;
}

/* Section Main */
#main img {
   margin-block: 6rem;
}

#main .title {
   margin-block: 2rem;

   font-size: 5rem;
   font-weight: 700;

   color: var(--color-text);
}

#main legend {
   margin-block: 2rem;

   font-size: 2.5rem;
   font-weight: 400;
   line-height: 130%;

   color: var(--color-text);
}

#main .button {
   margin-block: 4rem;
   padding-inline: 3rem;
   padding-block: 1rem;

   font-size: 2rem;

   border-radius: 22px;
   border: 1px solid var(--border-color);
   background-color: var(--button-color);
   color: var(--button-hover);

   transition: 0.3s background-color;
}

#main .button:hover {
   background-color: var(--button-hover);
   color: var(--standart-color);
   transition: 0.5s background-color;
}

/* Section Social Links */
#social-links .list {
   display: flex;
   align-items: center;
   justify-content: center;

   gap: 2rem;
   margin-block: 3rem;
}

#social-links .list-item svg {
   height: 6rem;
}

/* Footer */
footer {
   margin-top: 8rem;
   margin-bottom: 1rem;
}

.attribution,
.attribution a {
   font-size: 1.6rem;
   text-align: center;
   text-decoration: none;
   color: var(--color-text);
}

@media(min-width : 500px) {
   .wrapper {
      width: min(40rem, 100%);
   }
}

@media(min-width : 800px) {
   .wrapper {
      width: min(50rem, 100%);
   }
}

@media(min-width : 1024px) {
   .col-a {
      grid-area: A;
   }

   .col-b {
      grid-area: B;
   }

   .col-c {
      grid-area: C;
   }

   body {
      width: 100%;
      height: 100%;

      background-image: url(../images/bg-desktop.svg);
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      background-color: var(--bg-desktop-color);
      align-items: center;
      font-family: Open sans, Arial;

      overflow-y: auto;
   }

   .main-container {
      margin: 0;
      padding: 0;
   }

   .wrapper {
      display: grid;
      width: min(112rem, 100%);
   }

   #main {
      display: grid;
      grid-template-columns: 60rem 1fr;
      grid-template-areas:
         "A B"
         "C C";

      align-items: center;
      gap: 4rem;
   }

   .col-b {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
   }

   .main-container {
      margin-top: 15rem;
   }

   #social-links {
      justify-content: end;
   }

   footer {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
   }
}