:root {
   --header-height: 7rem;
   --standart-color: hsl(300, 79%, 96%);
   --color-text: hsl(300, 91%, 29%);
   --border-color: hsl(300, 82%, 18%);
   --button-color: hsl(300, 31%, 93%);
   --button-hover: hsl(300, 94%, 21%);


   font-size: 62.5%;
}

/* Cores custom */
#social-links .list-item a svg g,
#social-links .list-item a svg {
   fill: var(--standart-color);
   transition: 0.3s fill;
}

#social-links .list-item:hover a svg g,
#social-links .list-item:hover a svg {
   fill: var(--button-hover);
   transition: 0.3s fill;
}

/* Estilos Gerais */
img {
   width: 100%;
   height: 100%;
}

html {
   box-sizing: border-box;
}

body {
   width: 100vw;
   height: 100vh;

   background-image: url(../images/bg-mobile.svg);
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   background-color: #bbbb;
   align-items: center;
   font-family: Open sans, Arial;
}

header {
   display: flex;
   justify-content: left;
   height: var(--header-height);
}

.wrapper {
   width: min(50%, 100%);
   margin-inline: auto;
   padding-inline: 3rem;
}

.logo {
   height: 100%;
}

.main-container {
   color: var(--standart-color);
   text-align: center;
}

/* Section Main */
#main img {
   margin-block: 6rem;
}

#main .title {
   margin-block: 2rem;

   font-size: 5rem;
   font-weight: 700;
}

#main legend {
   margin-block: 2rem;

   font-size: 2.5rem;
   font-weight: 400;
   line-height: 130%;
}

#main .button {
   margin-block: 4rem;
   padding-inline: 3rem;
   padding-block: 1rem;

   font-size: 2rem;

   border-radius: 22px;
   border: 1px solid var(--border-color);
   background-color: var(--button-color);
   color: var(--color-text);

   transition: 0.3s background-color;
}

#main .button:hover {
   background-color: var(--button-hover);
   color: var(--standart-color);
   transition: 0.5s background-color;
}

/* Section Social Links */
#social-links .list {
   display: flex;
   align-items: center;
   justify-content: center;

   gap: 2rem;
   margin-block: 3rem;
}

#social-links .list-item svg {
   height: 6rem;
}

/* Footer */
footer {
   margin-top: 8rem;
   margin-bottom: 1rem;
   font-size: 1.4rem;
   text-align: center;
   text-decoration: none;
}